<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
			http://www.springframework.org/schema/aop
       		http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-4.2.xsd 
			http://www.springframework.org/schema/task   
	   		http://www.springframework.org/schema/task/spring-task-4.2.xsd">
	   		 
	   		<!-- 配置包扫描 -->
			<context:component-scan base-package="com.tc.controller.*,com.tc.service.impl"/>
	   		<!-- mvc注解驱动 -->
	   		<mvc:annotation-driven>
	   		<!-- 解决返回json在IE下变成下载文件 -->
		   		<mvc:message-converters>
			        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
			            <property name="supportedMediaTypes">
			                <list>
			                    <value>text/html;charset=UTF-8</value>
			                </list>
			            </property>
			        </bean>
	   	 		</mvc:message-converters>
	   		</mvc:annotation-driven>
	   		
	   		<!-- 视图解析器 -->
	   		<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	   			<!-- 配置前缀 -->
	   			<property name="prefix" value=""></property>
	   			<!-- 配置后缀 -->
	   			<property name="suffix" value=""></property>
	   		</bean>
	   		<!-- 文件上传 -->
	   		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	   			<!-- 配置默认编码 -->
	   			<property name="defaultEncoding" value="utf-8"></property>
	   			<!-- 配置文件大小 -->
	   			<property name="maxUploadSize" value="10485760000"></property>
	   		</bean>
	   		<!-- 配置拦截器 -->
	   		<mvc:interceptors>
	   			<!--后台登陆拦截器  -->
	   			<mvc:interceptor>
	   				<mvc:mapping path="/admin/**/"/>
	   				<mvc:exclude-mapping path="/admin/adminLogin.do"/>
	   				<mvc:exclude-mapping path="/admin/getAllSchool.do"/>
	   				<bean class="com.tc.interceptors.LoginInterceptor"></bean>
	   			</mvc:interceptor>
	   		</mvc:interceptors>
	   		<!-- 数据校验（hibernate-validator） -->
	   		
	   		<!-- 定时器 -->
			<context:annotation-config />
			<task:annotation-driven/>
			<context:component-scan base-package="com.tc.time" />

	   		
</beans>